parameters:
    level: 7
    phpVersion: 80300
    paths:
        - ../includes
        - ../api
        - ../admin
        - ../dashboard.php
        - ../login.php
        - ../logout.php
        - ../forgot-password.php
        - ../reset-password.php
        - ../install.php
        - ../index.php
