<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- Override with environment variables or edit values here -->
        <env name="TEST_DB_HOST" value="127.0.0.1"/>
        <env name="TEST_DB_NAME" value="telefon_test"/>
        <env name="TEST_DB_USER" value="root"/>
        <env name="TEST_DB_PASS" value=""/>
    </php>
</phpunit>
